.navbar li a {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  float: right;
  text-align: left;
}

#logo-site {
  width: 70%;
}

.navbar {
  background-image: linear-gradient(to right, #0d6efd, rgb(4, 21, 165));
}

.nav-link {
  color: rgb(216, 216, 216) !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.85) !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.container,
.container-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1320px;
  }
}

.navbar-toggler {
  border-color: #dbe0e7;
  background-color: transparent;
  border-radius: 0.25rem;
  outline: none !important;
}
.navbar-light .navbar-toggler {
  color: #dbe0e7 !important;
}

/*button explore*/
#explore {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#explore {
  background-color: rgb(33, 35, 61);
  color: white;
  width: 200px;
  height: auto;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}

#explore:focus {
  outline: none;
}

#explore:before {
  content: "";
  display: block;
  position: relative;
  background-color: #c2c6cc;
  width: 60px;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

#explore:after {
  content: "";
  display: block;
  position: relative;
  background-color: #b4d2da;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

#explore:hover {
  background: #b4d2da;
  cursor: pointer;
}

#explore:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

#explore:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.1;
  transition: 0.7s;
}

/*footer*/
footer {
  background-image: linear-gradient(to right, #0d6efd, rgb(4, 21, 165));
}
/*banner*/
#banner {
  background-image: linear-gradient(to right, #0d6efd, rgb(4, 21, 165));
  color: white;
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
