@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Poppins:wght@300&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Cabin", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

/*Shopping cart*/
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  color: grey;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.card-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid gray;
  outline-color: var(--primary);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: #fa5c5c;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid gray;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.total-price {
  margin-left: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.total-price-apres-taxes {
  margin-left: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.total {
  display: flex;
  flex-direction: column;
}

/* .totalHT {
  width: 100%;
  display: block;
}

.totalTTC {
  width: 100%;
  display: block;
} */

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: gray;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background: #fa5c5c;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.logo {
  width: 160px;
}

#cart-icon {
  padding-top: 0px;
  font-size: 1.8rem;
  cursor: pointer;
}

.navbar .nav-link {
  font-size: 17px;
  font-weight: 700;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

.hero {
  background-image: url(../Images/computer-img.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/*product list*/

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.header-red {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgb(224, 97, 97);
}

.shop {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box {
  position: relative;
}

.product-box:hover {
  padding: 10px;
  border: 1px solid gray;
  transition: 0.4s;
}

.product-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.product-title {
  bottom: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.price {
  bottom: 0;
  font-weight: 500;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: gray;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover {
  background: hsl(hue, saturation, lightness);
}

/* a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

#list-products {
  color: #fe302f;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
} */

/*List of Prodcuts*/
/* .section-products #product-1 .part-1::before {
  background: url("../Images/apple-watch.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("../Images/iphone-13-pro-green-select.png") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-3 .part-1::before {
  background: url("../Images/airpods-product.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-4 .part-1::before {
  background: url("../Images/macbook-product.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
} */
/*list of products explore*/
/*smartphone*/
/* .section-products #product-explore-1 .part-1::before {
  background: url("../Images/iphone-13-pro-green-select.png") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-2 .part-1::before {
  background: url("../Images/iphone12.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-3 .part-1::before {
  background: url("../Images/SamsungGalaxyNote10+.webp") no-repeat center;
  max-width: 90%;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-4 .part-1::before {
  background: url("../Images/GooglePixel6Pro.png") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
} */
/*laptops*/
/* .section-products #product-explore-5 .part-1::before {
  background: url("../Images/macbook-product.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-explore-6 .part-1::before {
  background: url("../Images/imac-po.jpg") no-repeat center;
  width: 80%;
  height: 80%;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-explore-7 .part-1::before {
  background: url("../Images/PcGamer-Ryzen.jpg") no-repeat center;
  max-width: 70%;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-explore-8 .part-1::before {
  background: url("../Images/Zenbook-Pro.webp") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
} */

/*Accessoire*/
/* .section-products #product-explore-9 .part-1::before {
  background: url("../Images/airpods-product.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-10 .part-1::before {
  background: url("../Images/apple-watch.jpg") no-repeat center;
  width: 80%;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-11 .part-1::before {
  background: url("../Images/souris-apple.jpg") no-repeat center;
  width: 80%;
  background-size: cover;
  transition: all 0.3s;
}
.section-products #product-explore-12 .part-1::before {
  background: url("../Images/eve-cam.jpg") no-repeat center;
  width: 60%;
  background-size: cover;
  transition: all 0.3s;
} */
/****/

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

/*footer*/
.footer-top {
  padding-bottom: 50px;
  padding: 90px 90px 10px 90px;
  background-color: var(--body);
}

footer h5 {
  color: #ffbd59;
}

.about {
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content img {
  height: auto;
  width: 600px;
  max-width: 100%;
}

.text {
  width: 550px;
  max-width: 100%;
  padding: 30px 0px 75px;
}

.content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  color: #ffbd59;
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text h5 {
  color: #351500;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.text p {
  color: black;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

button {
  background-color: gray;
  color: black;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}

button:hover {
  background-color: transparent;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .about {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .about .content img {
    margin-bottom: 35px;
  }

  .text h1 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}

.caroussel .item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/*cart page*/
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
