<!--   Hero-->
<div class="hero vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">
          Trouvez les meilleures offres de nos derniers soldes au même endroit.
        </h1>
        <p class="text-white my-3">
          Apprenez-en plus sur nos produits de electronique et de nouvelle
          technologies, nos produits vedettes et nos offres incroyables.
        </p>
        <a routerLink="products" class="btn btn-outline-light">Explorer</a>
      </div>
    </div>
  </div>
</div>
