<!-- banner section -->
<section id="learn" class="p-5 bg-dark">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h1 class="banner-head">Nouveautés dans notre magasin</h1>
        <p class="lead">
          Embelissez votre vie avec des produits technos époustouflant et à la
          fine pointe de la technologie avec VPI!
        </p>
        <p>
          Économisez jusqu’à 300 $ sur une sélection de téléviseurs 4K et 8K
          Ultra HD.
        </p>
        <a href="#" class="btn btn-light mt-3">
          <span class="bi bi-chevron-right"></span> Lire plus
        </a>
      </div>
      <div class="col-md">
        <img
          class="img-fluid"
          src="../../assets/Images/tv_samsung.png"
          alt="TV-IMAGE"
        />
      </div>
    </div>
  </div>
</section>
