<!-- Question accordion-->
<section id="questions-accordion" class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Questions fréquentes</h2>
    <div class="accordion accordion-flush" id="questions">
      <!--Item 1-->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            Comment passer une commande ?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Passer une commande sur VPI est un jeu d’enfant. Ajoutez simplement
            les articles à votre panier, passez à la caisse, ajoutez les
            informations relatives à l’expédition et à la méthode de paiement,
            et passez votre commande. Nous expédions les commandes en ligne
            partout au Canada et États Unis, et les frais d’expéditions pour la
            plupart des commandes excédant 35 $ sont gratuits!
          </div>
        </div>
      </div>
      <!--Item 2-->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
          >
            Retourner ou échanger un produit VPI
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Si vous avez acheté votre article en magasin, en ligne ou avec
            l’option Réservez et ramassez, vous pouvez le retourner ou
            l’échanger dans n’importe quel magasin VPI actuellement ouvert.
          </div>
        </div>
      </div>
      <!--Item 3-->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
          >
            Quel est le délai d’expédition?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Notre objectif est de vous faire parvenir vos articles rapidement.
            Nous faisons appel à différentes compagnies de transport, en
            fonction de la taille de votre objet, du lieu de livraison et du
            vendeur.
          </div>
        </div>
      </div>
      <!-- Item 4-->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-four"
          >
            Si mon colis est perdu, qui dois-je contacter?
          </button>
        </h2>
        <div
          id="question-four"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Vous pouvez communiquer avec notre équipe du Service à la clientèle
            (appelez le 1-866-237-8289) et si vous êtes admissible, nous
            entreprendrons pour vous le suivi de votre commande avec le
            fournisseur de services d’expédition applicable.
            <h4>Remarque :</h4>
            Les réclamations doivent être faites au plus tard 90 jours après
            l’expédition de votre commande. Postes Canada n’ouvrira pas de
            réclamation en votre nom, la réclamation doit provenir de l’équipe
            de l’expérience client de VPI.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
