<!-- <h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.nom + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.nom }}
    </a>
  </h3>
</div> -->

<div class="col-md-4" *ngFor="let product of products">
  <div class="card">
    <div class="ccc">
      <p class="text-center">
        <img src="{{ product.photo }}" class="imw" />
      </p>
      <div class="overlay">
        <div class="text">View Details</div>
      </div>
    </div>
    <div class="card-body">
      <h5 [title]="product.nom + ' details'" class="text-center">
        {{ product.nom }}
      </h5>
      <p class="text-center">
        <button
          type="button"
          [routerLink]="['/products', product.id]"
          class="btn btn-dark"
        >
          Voir
        </button>
      </p>
    </div>
  </div>
</div>
