<section class="about">
  <div class="content">
    <div class="text" style="padding: 30px 0px 75px">
      <h1>À propos de nous</h1>
      <h5 style="color: #351500">
        Trouvez les meilleures offres de nos derniers soldes au même endroit.
      </h5>
      <p>
        VPI nous sommes une entreprise américaine de vente de matériel
        électronique grand public, nous sommes présent surtout aux États-Unis et
        au Canada.
        <br />
        Découvrez comment VPI participe au développement de la communauté par le
        biais de son association avec diverses organisations, qui profitent aux
        enfants, à la jeunesse et à la famille. Familiarisez-vous avec les
        programmes de VPI qui encouragent le volontariat des employés, et
        promeuvent l'apprentissage via la technologie et plus.
        <br />
        <br />
        <strong style="color: #351500">Trouvez votre place parmi nous.</strong>
      </p>
      <button type="button" onclick="location.href='postuler.php'">
        Postuler
      </button>
    </div>
  </div>
</section>
