<div class="text-center mt-5 pb-5 mb-5 me-3 ms-3">
  <h1>Vous êtes déconnecté(e)</h1>
  <p>Vous pouvez fermez le navigateur sécuritairement désormais <br>
    Il n'y a possiblement plus aucun danger de vous faire voler votre identité. <br>
    <small class="text-secondary">Possiblement. Nous ne sommes pas responsable si un de nos employés vole votre identité.</small><br>
    Merci d'avoir visité notre site et bonne journée.
  </p>
  <button type="button" (click)="ngGo()" class="btn btn-secondary mb-3">Reconnectez-vous</button>
  <img src="../../assets/Images/celebration.jpg" alt="image de célébration">
</div>
