<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">
        <!-- Content -->
        <h1 class="text-uppercase text-light fw-bold">VPI</h1>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase text-light fw-bold">Développeurs</h5>

        <ul>
          <li>
            <a
              href="https://gitlab.info.uqam.ca/el-figha.oussama"
              target="_blank"
              class="text-white"
              style="text-decoration: none"
            >
              OUSSAMA EL-FIGHA</a
            >
          </li>
          <li>
            <a
              href="https://gitlab.info.uqam.ca/plante.nicolas.4"
              target="_blank"
              class="text-white"
              style="text-decoration: none"
            >
              NICOLAS PLANTE</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase text-light fw-bold">Contact</h5>
        <ul class="text-light">
          <li><i class="bi bi-telephone-fill"></i>&nbsp; +1(000)000-0000</li>
          <li>
            <i class="bi bi-building"></i>&nbsp; Montréal, 994 Rue Rachel Est
          </li>
          <li><i class="bi bi-envelope"></i>&nbsp; VPI@VPI.ca</li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="row align-items-center text-white">
    <p class="text-center">
      Le projet est développé dans le cadre du cours
      <a
        class="link-light"
        href="http://www.etudier.uqam.ca/cours?sigle=INF3190"
        style="text-decoration: none"
        ><strong>INF3190</strong>
      </a>
      de l'<a
        class="link-light"
        href="http://www.uqam.ca"
        style="text-decoration: none"
        ><strong>UQÀM</strong></a
      >
    </p>
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->
