<!-- <h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.nom }}</h3>
  <h4>{{ product.prix | currency }}</h4>
  <p>{{ product.description }}</p>
</div>
<button type="button" (click)="addToCart(product)" class="btn btn-primary">
  Buy
</button>
<button type="button" [routerLink]="'products'" class="btn btn-primary">
  Retour
</button> -->

<div class="body" *ngIf="product">
  <div class="product_img">
    <img src="{{ product.photo }}" alt="" />
  </div>
  <div class="product_info">
    <div class="seller_info"></div>
    <div class="product_title">{{ product.nom }}</div>
    <div class="product_model">SKU: 21354654</div>
    <div class="product_price">{{ product.prix | currency }}</div>
    <div class="product_descr">
      {{ product.description }}
    </div>
    <div class="product_quantity">Quantity: {{ product.qty }}</div>
    <div class="add_to_cart">Add to cart</div>
  </div>
</div>
