body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.product_img {
  width: 580px;
}

.product_img img {
  width: 100%;
}

.product_info {
  width: 260px;
  text-align: justify;
}

.product_title {
  font-size: 1.6em;
  color: #233f59;
  padding: 10px;
}
.product_model {
  padding: 10px;
  color: #878686;
  font-size: 0.8rem;
}
.product_price {
  padding: 10px;
  color: #615f5f;
  font-size: 1.8rem;
}
.product_descr {
  color: #615f5f;
  padding: 10px;
}
.product_color {
  color: #878686;
  padding: 10px;
}

.product_quantity {
  color: #878686;
  padding: 10px;
}

.product_quantity input[type="number"] {
  border: 1px solid lightgray;
  width: 80px;
  font-size: 1.8em;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  color: #878686;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  body {
  }
  .body {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .product_info {
    width: 100%;
    text-align: center;
  }
}
