<div class="text-center container-fluid p-5 bg-light">
  <h1>Devenez membre de notre formidable équipe!</h1>
  <p class="muted"><small>Salaire à partir de 0,25$/jour</small></p>
  <form #postuler="ngForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-4 mt-4">
          <label class="form-label">
            Nom*:<br />
            <input type="text" [formControl]="nom" class="form-control entree" placeholder="Nom">
          </label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-4 mt-4">
          <label>
            Prénom*:<br />
            <input type="text" [formControl]="prenom" class="form-control entree" placeholder="Prénom">
          </label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-4 mt-4">
          <label>
            Date de naissance*:<br />
            <input type="date" [formControl]="date" class="form-control entree" placeholder="AAAA-MM-JJ">
          </label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-4 mt-4">
          <label>
            Courriel*:<br />
            <input type="email" [formControl]="courriel" class="form-control entree" placeholder="exemple@abcd.ca">
          </label>
        </div>
      </div>
    </div>

    <div>
      <button (click)="validerPostuler()" class="btn btn-success mb-5">Soumettre</button>
    </div>
  </form>
</div>
