<section class="shop container">
  <h3 class="header-red">Nouveautés</h3>
  <h2 class="section-title">Produits Populaires</h2>
  <div class="shop-content">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <!--Slider num 1-->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3">
              <img
                src="../../assets/Images/imac-po.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/airpods-product.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/eve-cam.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/souris-apple.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>
        <!--fin du slider num 1-->

        <!--Debut slider num 2-->
        <div class="carousel-item">
          <div class="row">
            <div class="col-3">
              <img
                src="../../assets/Images/iphone-13-pro-green-select.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/iphone12.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/macbook-product.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="col-3">
              <img
                src="../../assets/Images/Zenbook-Pro.webp"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>
        <!--Fin de slider num2-->
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
